.login-bg {
    position: absolute;
    inset: 0;
    background-image: url('/pattern.png');
    background-repeat: repeat;
    background-size: 900px;
    opacity: 0.18;
    pointer-events: none;
    z-index: 0;
    animation: infinite;
    animation: rotate360 30s linear infinite;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}